<section class="my-3 py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <h3 class="text-center">{{user.username}}</h3>
            </div>

            <div class="form-group">
              <img class="rounded-circle" src="/images/userspics/{{user.userimage}}" alt="{{user.username}}" width="140px" height="140px">
            </div>

            <div class="form-group text-center">
              <h4 class="text-center">Upload fanmanga</h4>
              <li class="click"><i class="fas fa-book-open fa-2x"></i></li>
            </div>

            <div class="form-group text-center">
              <p><a href="/mangas/createmanga" class="btn btn-info btn-block">Create manga</a></p>
            </div> 

            <div class="form-group text-center">
              <h4 class="text-center">Creat a meetpoint</h4>
              <li class="click"><i class="fas fa-map-marker-alt fa-2x"></i></li>
            </div>

            <div class="form-group text-center">
              <p><a href="/meetpoints/new" class="btn btn-info btn-block">Create meetpoint</a></p>
            </div>    

            <div class="form-group text-center">
              <label for="exampleInputPassword1">Change User Name</label>
              
            </div>

            <div class="form-group text-center">
              <p><a href="#" class="btn btn-info btn-block">Enter</a></p>
            </div>

            <div class="form-group text-center">
              <label for="exampleInputPassword1">Change Password</label>
            </div>

            <div class="form-group text-center">
              <p><a href="#" class="btn btn-info btn-block">Enter</a></p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-info collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <i class="fab fa-readme"></i>   Mis fanMangas
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        {{#each mangas}}
                          {{#ifCond mangas.userid._id user.id}}

                          <div class="col-sm-3">
                            <img src="/images/previewimages/{{this.img_preview}}" height="200px" width="150px">
                            <h5 class="text-center">{{this.manganame}}</h5>
                          </div>
                          {{/ifCond}}
                        {{/each}}
                        <div class="col-sm-3">
                          <img src="https://4.bp.blogspot.com/-ijafovaZgoI/WPWKM2NH8pI/AAAAAAAAb2U/uAtmHcEEkcEhjb53pYuiWYKn673vDlvoQCLcB/s320/DBAF_Cap_01%2BPag.00.jpg" height="200px">
                          <h5 class="text-center">Dragon Ball After the Future</h5>
                        </div>
                        <div class="col-sm-3">
                          <img src="http://media-fancomics.theotaku.com/789182-20110808115733.jpg" height="200px">
                          <h5 class="text-center">Question Café</h5>
                        </div>
                        <div class="col-sm-3">
                          <img src="/images/FMAFireStarter/fire-starter-portada.jpg" height="200px">
                          <h5 class="text-center">Fire Starter</h5>
                        </div>
                        <div class="col-sm-3">
                          <img src="/images/MEJM/MEJM1.jpg" height="200px">
                          <h5 class="text-center">Merry Jashin Mas</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>         
      </div>
  </div>
</div>
</section>
  


  
 
        

 
    

