<section class="my-3 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col col-md-6">
                    <img src="/images/previewimages/{{manga.img_preview}}" alt="{{manga.manganame}}">
                </div>
                <div class="col colmd-6">
                    <h2>{{manga.manganame}}</h2>
                    <div class="col-md-12">
                        <span class="card-title5"><i class="fa fa-user"></i>   Posted by : <i class="material-icons right">{{manga.author}}</i></span>
                    </div>
                    <div class="col-md-12">
                        <span class="card-title5"><i class="fa fa-user-circle"></i>  Translated by : <i class="material-icons right">{{manga.traducedby}}</i></span>
                    </div>
                    <div class="col-md-12">
                        <span class="card-title5"><i class="fa fa-calendar"></i>  Publication date : <i class="material-icons right"><br>{{manga.created_at}}</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>